/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face {
    font-family: Esphimere;
    src: url(font/Esphimere.otf);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: Esphimere, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url(../img/bbackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}

/* ==========================================================================
   HEADER MENU
   ========================================================================== */
nav {
    display: flex;
    justify-content: flex-start;
    padding: 30px 200px;
}

.logo_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100px;
    font-size: 1.2em;
}

nav ul {
    margin-left: auto;
    list-style-type: none;
    display: flex;
}

.menu_link,
.menu_link_langue {
    padding: 0 20px;
}

.menu_link a,
.menu_link_langue a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
}

.menu_link a:hover, 
.active {
    border-bottom: 1px solid #fba300;
}

.menu_link_langue a {
    padding: 5px 9px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.menu_link_langue a:hover {
    color: #fba300;
    /*background-color: #716b60;*/
 }   

/* ==========================================================================
   HEADER TEXT
   ========================================================================== */

.header_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;

}

.header_slide h1 {
    color: #fba300;
    font-size: 3.5em;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.3;
    width: 790px;
}

.header_slide p {
    color: #ffffff;
    text-align: center;
    width: 450px;
    line-height: 1.5em;
    opacity: 0.8;
    font-size: 1.2em;
    margin: 38px 0;
}


/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn_download {
    padding-top: 1em;
}

.app_store, 
.google_play {
    width: 13em;
    border-radius: 5px;
    height: 5em;
}

.app_store {
    margin-right: 10px;
}

